# Texto: saltos de línea normalizados. Los YAML de Unity se guardan como texto.
* text=auto
*.cs text diff=csharp
*.shader text
*.hlsl text
*.cginc text
*.unity text eol=lf
*.prefab text eol=lf
*.mat text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.controller text eol=lf
*.anim text eol=lf
*.md text

# --- Binarios por LFS ---
# Modelos
*.fbx filter=lfs diff=lfs merge=lfs -text
*.FBX filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
# Imagen
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
# Audio
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
# Fuentes tipográficas
*.ttf filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
# Datos horneados y de terreno: YAML enorme que no se lee a mano
**/TerrainData*.asset filter=lfs diff=lfs merge=lfs -text
**/LightingData.asset filter=lfs diff=lfs merge=lfs -text
**/NavMesh*.asset filter=lfs diff=lfs merge=lfs -text
